
.alert-message.warning
  %a.close{:href => '#'}= 'x'
  %p
    %strong= "Hackathon in progress!"
    = "We're working hard to make something happening in the next 24 hours :). Stay tuned."
  
  -#= image_tag('images/ui.png')
    